body {
    font: 18px arial, sans-serif; 
    background: rgb(82, 230, 148);
}

#searches{
    width: 70%;
}

form{
    width: 30%;
    float: none;
    padding: 20px;
}

label {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
}
input[type='text'] {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    font-size: 18px;
}
button,
input[type='submit'] {
  background: #046804;
  color: #ffffff;
  border: 0;
  border-radius: 5 px;
  padding: 5px 20px;
  font-size: 18px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  box-shadow: 2px 2px 3px #bbbbbb;

}
button:hover,
input[type='submit']:hover{
    background:rgb(1, 59, 6);
}
button.active {
    background: rgb(4, 75, 4);
}